.result-item {
  padding: 0 5px;

  .result-item-content {
    border: 2px solid #ccc;
    color: #777;
    display: flex;
    padding: 15px 0;
    margin-bottom: 20px;

    &.not-available {
      .fade-when-not-available{
        opacity: 0.3;
      }
    }

    &:not(.not-available):hover {
      border: 2px solid #888;
    }

    .center {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mileage-requirement {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;

      .mileage {
        color: black;
        font-weight: 400;
        font-size: 1.8em;
        line-height: 28px;
      }

      .unit {
        padding: 0px 0px 0px 5px;
        font-size: 0.8em;
        line-height: 18px;
      }
    }

    .track-btn {
      min-width: 100px;
      margin-top: 12px;
      margin-bottom: -6px;
      transition: none;

      @media (max-width: 767px) {
        margin: 0;
      }
    }

    .flight-info-row {
      display: flex;
      padding: 15px;

      @media (max-width: 480px) {
        padding: 15px 5px;
      }

      span {
        display: inline-block;
      }

      .terminal-container {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .terminal {
          width: 62px;

          .time {
            font-weight: 400;
            font-size: 1.6em;
          }

          .airport {
            font-weight: 400;
            font-size: 1.4em;
          }
        }
      }

      .course {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .duration {
          align-self: center;
        }

        .legs {
          display: flex;
          flex-grow: 1;

          .leg {
            border-top: thick solid #ccc;
            display: flex;
            flex-grow: 1;
            margin: 6px 10px 10px 10px;
          }

          .stopover {
            margin-top: -6px;
            margin-left: -10px;
            margin-right: -10px;
            text-align: center;

            .dot {
              height: 8px;
              width: 8px;
              background-color: #888;
              border-radius: 50%;
              display: inline-block;
            }

            .airport {
              margin-top: -5px;
              width: 30px;
            }
          }
        }
      }
    }

    .padding {
      display: flex;
      flex-grow: 1;
    }
  }
}

.flight-number-row {
  .arrow {
    margin: 0 5px 0 -2px;
  }

  .flight-number {
    $height: 35px;

    display: inline-block;
    padding: 0px 5px;
    height: $height;
    line-height: $height;

    img {
      margin-top: -4px;
      height: 20px;
      width: 20px;
    }

    span {
      font-size: 13px;
      margin-top: auto;
      margin-bottom: auto;
      padding: 0px 8px;
    }
  }
}

.loading {
  padding: 40px;
}

.result_area {
  padding: 20px 0 50px 0;
}

@media (max-width: 1200px) {
  .result_area {
    padding: 0px 0 50px 0;
  }
}