.book_tabel_item  .nice-select.invalid{
  border-color: #880000
}

.item{
  margin-bottom: 10px;
}

.spinner{
  position: absolute;
  top:0;
  bottom:0;
  right:28px;
  margin:auto;
}

.options{
  z-index: 2;
  width: 100%;
  margin-top: 40px;
  margin-left: -15px;
  padding: 0 15px;
  position: absolute;
  &.hide{
    display: none;
  }
  .border{
    background: #ffffff;
    border: 1px solid #000;
    .airport-option{
      padding: 5px 10px;
      border-bottom: 1px solid #eeeeee;
      &:not(.invalid):hover{
        background-color: #00000033;
      }
      .airport{
        color: #000;
        font-weight: 500;
      }
      .details{
        font-size: 0.8em;
        color: #555;
      }
      &.invalid{
        .airport{
          color: #ccc;
        }
        .details{
          color: #ddd;
        }
      }
    }
  }
}

.item .book_tabel_item {
  height: 40px;
}

.hotel_booking_table .book_tabel_item .form-control {
  background: transparent;
  border-radius: 0px;
  font-size: 13px;
  line-height: 38px;
  padding: 0px 0px 0px 20px;
  color: #777777;
  z-index: 0;
}