.calendar-month{
  $day-width: 14.285%;

  padding: 0px 15px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  width:100%;
  height:100%;
  .loading{
    width: 100%;
    position: absolute;
    background-color: #ffffff99;
    top: 74px;
    bottom: 0;
  }
  .calendar-day {
    width:$day-width;
    height:50px;
    color: gainsboro;
    &.available{
      color:black;
    }
    &.active:hover{
      border:1px solid #000;
    }
    &.selected{
      font-weight: bold;
    }
    a, span{
      color: inherit;
      display:flex;
      align-items:center;
      justify-content:center;
      width:100%;
      height:100%;
    }
  }
  .weekday-label {
    color: gray;
    text-align: center;
    width:$day-width;
    margin: 8px 0px 10px 0px;
  }
  .calendar-month-header{
    width:100%;
    text-align: center;
  }
}