.result-item{
  padding: 10px 5px;
  .result-item-content{
    border: 2px solid #ccc;
    color: #777;
    display: flex;
    padding: 15px 0;
    
    &.not-available{
      opacity: 0.3;
    }
    &:not(.not-available):hover{
      border:2px solid #888;
    }
    .center{
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .mileage-requirement{    
      display:flex;
      flex-wrap: wrap;
      align-items:baseline;
      justify-content:center;
      margin: 10px 0px 0px 0px;
      .mileage{
        color: black;
        font-weight: 400;
        font-size: 1.8em;
      }
      .unit{
        padding: 0px 10px 0px 5px;
        font-size: 0.8em;
      }
    }
    .flight-info-row{
      padding: 15px;
      display: flex;
      span{
        display: inline-block;
      }
      .terminal{
        width: 62px;
        .time{
          font-weight: 400;
          font-size: 1.6em;
        }
        .airport{
          font-weight: 400;
          font-size: 1.4em;
        }
      }
      .flight{
        border-top: thick solid #ccc;
        display: flex;
        flex-grow: 1;
        margin: 20px 10px 10px 10px;
      }
      .stopover{
        margin-top: 8px;
        margin-left: -10px;
        margin-right: -10px;
        text-align: center;
        .dot {
          height: 8px;
          width: 8px;
          background-color: #888;
          border-radius: 50%;
          display: inline-block;
        }
        .airport{
          width: 30px;
        }
      }
    }
    .padding{
      display: flex;
      flex-grow: 1;
    }
  }
}

.flight-number-row{
  .arrow{
    padding: 0px 10px 0px 2px;
  }
  .flight-number{
    $height: 35px;
  
    display: inline-block;
    padding: 0px 5px;
    height: $height;
    line-height: $height;
  
    img{
      margin-top: -4px;
      height: 25px;
      width: 25px;
    }
    span{
      margin-top: auto;
      margin-bottom: auto;
      padding: 0px 8px;
    }
  }
}

.loading{  
  padding: 40px;
}

.result_area{
  padding: 20px 0 50px 0;
}

@media (max-width: 1200px) {
  .result_area{
    padding: 0px 0 50px 0;
  }
}